.selector-container {
	width: auto;
	height: auto;
	// padding: 32px;
}
.title-container {
	display: flex;
	justify-content: space-between;
}

.selector-modal-title {
	text-align: end;
	width: 70%;
	font-size: 20px;
	// font: normal normal normal 20px/17px;
	color: #4a4a4a;
	margin-bottom: 50px;
}

.selector-group {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.group-title-text {
	font-size: 18px;
	color: #4a4a4a;
}

.group-item {
	display: flex;
	flex-direction: column;
	row-gap: 25px;
}

.group-one {
	display: flex;
	// justify-content: space-between;
	gap: 22px;
}

.group-swap-select {
	width: 239px;
	height: 55px;
	border: 1px solid #e6e7e7;
	border-radius: 10px;
	margin-bottom: 23px;
	padding: 16px;
}
